@charset "UTF-8";

main {
    height: 1400px;
    width: 1200px;
    border: 1;
    background-image: linear-gradient(to top ,#110e94, #010414);
    margin: auto;
    border-radius: 10px;
    box-shadow:5px 5px 15px #0e2131ce;  
}
h1 {
    color: aquamarine;
}
body {
    height: 1000px;
    width: 1200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: auto;
}
img {

    border-radius: 5px;
    display: block; /* Para usar margin auto */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 60%; /* Ajusta largura conforme necessário */
    height: auto;
}
ul {
    list-style: square;       
    text-align: left;
   
  }
  
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

h2.o_h2_meus_sonhos {
    text-align: center;
    color: aquamarine;
}